@model IEnumerable<WebsiteQuaTangOnline.Models.SANPHAM>


@try{
    foreach(var Item in Model)
    {
        <div class=" item-product">
            <img src="@Item.UrlHinhAnh" />
            <a href="/Home/InfoProduct/?id=@Item.MaSanPham">@Item.TenSanPham</a>
            <p>@Item.DonGia.ToString("#,###") VNĐ</p>
        </div>
    }
}
catch { }
