@model IEnumerable<WebsiteQuaTangOnline.Models.TINTUC>

@try
{
    foreach(var item in Model)
    {
        <div class="item-news">
            <img src="@item.UrlHinhAnh" />
            <div class="title-news">
                <a href="/Home/InfoNews?id=@item.MaTinTuc">@item.TieuDe</a>
            </div>
            <div style="clear:both"></div>
        </div>
    }
}
catch { }

