@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/Default.cshtml";
}

<div class="top-content">
    <div class="wrap">
        <h3>Sản phẩm mới</h3>
        <div class="list-product">
            <div class="wrap-pro">
                <div class="product-item">
                    <div class="img">
                        <a href="#">
                            <img src="~/Content/images/item_1.jpg" />
                        </a>
                    </div>
                    <div class="name-product">
                        <a href="#">Giỏ quà Tết cao cấp - K10</a>
                    </div>
                    <div class="price">
                        <p>100,000 đồng</p>
                    </div>
                    <div class="foot">
                        <a href="#" class="button">Đặt Mua</a>
                    </div>
                </div>
            </div>
            <div class="wrap-pro">
                <div class="product-item">
                    <div class="img">
                        <a href="#">
                            <img src="~/Content/images/item_1.jpg" />
                        </a>
                    </div>
                    <div class="name-product">
                        <a href="#">Giỏ quà Tết cao cấp - K10</a>
                    </div>
                    <div class="price">
                        <p>100,000 đồng</p>
                    </div>
                    <div class="foot">
                        <a href="#" class="button">Đặt Mua</a>
                    </div>
                </div>
            </div>
            <div class="wrap-pro">
                <div class="product-item">
                    <div class="img">
                        <a href="#">
                            <img src="~/Content/images/item_1.jpg" />
                        </a>
                    </div>
                    <div class="name-product">
                        <a href="#">Giỏ quà Tết cao cấp - K10</a>
                    </div>
                    <div class="price">
                        <p>100,000 đồng</p>
                    </div>
                    <div class="foot">
                        <a href="#" class="button">Đặt Mua</a>
                    </div>
                </div>
            </div>
            <div class="wrap-pro">
                <div class="product-item">
                    <div class="img">
                        <a href="#">
                            <img src="~/Content/images/item_1.jpg" />
                        </a>
                    </div>
                    <div class="name-product">
                        <a href="#">Giỏ quà Tết cao cấp - K10</a>
                    </div>
                    <div class="price">
                        <p>100,000 đồng</p>
                    </div>
                    <div class="foot">
                        <a href="#" class="button">Đặt Mua</a>
                    </div>
                </div>
            </div>
            <div class="wrap-pro">
                <div class="product-item">
                    <div class="img">
                        <a href="#">
                            <img src="~/Content/images/item_1.jpg" />
                        </a>
                    </div>
                    <div class="name-product">
                        <a href="#">Giỏ quà Tết cao cấp - K10</a>
                    </div>
                    <div class="price">
                        <p>100,000 đồng</p>
                    </div>
                    <div class="foot">
                        <a href="#" class="button">Đặt Mua</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div class="list-news">
    <div class="wrap">
        <h3>Tin Tức</h3>
        <div class="new-item">
            <div class="new-img">
                <img src="~/Content/images/new_1.jpg" />
            </div>
            <div class="new-info">
                <a href="#">Quà tặng công nghệ - Xu hướng mới</a>
                <p>Thị trường quà Tết Ất Mùi đang bắt đầu trở nên sôi động,
                 trong đó điện thoại thông minh hay máy tính bảng đang là sản phẩm hot,
                 được nhiều khách hàng lựa chọn nhờ giá cả phong phú cùng nhiều tính năng thiết thực.</p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="new-item">
            <div class="new-img">
                <img src="~/Content/images/new_1.jpg" />
            </div>
            <div class="new-info">
                <a href="#">Quà tặng công nghệ - Xu hướng mới</a>
                <p>
                    Thị trường quà Tết Ất Mùi đang bắt đầu trở nên sôi động,
                    trong đó điện thoại thông minh hay máy tính bảng đang là sản phẩm hot,
                    được nhiều khách hàng lựa chọn nhờ giá cả phong phú cùng nhiều tính năng thiết thực.
                </p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="new-item">
            <div class="new-img">
                <img src="~/Content/images/new_1.jpg" />
            </div>
            <div class="new-info">
                <a href="#">Quà tặng công nghệ - Xu hướng mới</a>
                <p>
                    Thị trường quà Tết Ất Mùi đang bắt đầu trở nên sôi động,
                    trong đó điện thoại thông minh hay máy tính bảng đang là sản phẩm hot,
                    được nhiều khách hàng lựa chọn nhờ giá cả phong phú cùng nhiều tính năng thiết thực.
                </p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="new-item">
            <div class="new-img">
                <img src="~/Content/images/new_1.jpg" />
            </div>
            <div class="new-info">
                <a href="#">Quà tặng công nghệ - Xu hướng mới</a>
                <p>
                    Thị trường quà Tết Ất Mùi đang bắt đầu trở nên sôi động,
                    trong đó điện thoại thông minh hay máy tính bảng đang là sản phẩm hot,
                    được nhiều khách hàng lựa chọn nhờ giá cả phong phú cùng nhiều tính năng thiết thực.
                </p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>