@{
    ViewBag.Title = "InfoProduct";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="box">
    <div class="title">
        <h3>Tên sản phẩm</h3>
    </div>
    <div class="cotainer">
        <div class="info-product-content">
            <div class="top">
                <div class="img-pro">
                    <img src="~/Content/images/item_1.jpg" />
                </div>
                <div class="info-pro">
                    <p>Hãng sản xuất: </p>
                    <p>Số lượng: </p>
                    <p>Mã sản phẩm: </p>
                    <div id="gia-tien">
                        200.000 VND
                    </div>
                    <div class="control">
                        <input type="button" id="sub" value="-"/>
                        <input type="number" id="number" value="1"/>
                        <input type="button" id="add" value="+"/>
                        <a href="#">Thêm vào giỏ</a>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="bottom">
                Nội dung tin
            </div>   
        </div>
        <div class="facebook-comment">
            <!--lugin facebook cmt-->
        </div>       
    </div>
    <div class="info-related">
        <h3>Sản phẩm liên quan</h3>
    </div>
    <div class="list-product">
        <div class="product-item">
            <div class="img">
                <a href="#">
                    <img src="~/Content/images/item_1.jpg" />
                </a>
            </div>
            <div class="name-product">
                <a href="#">Giỏ quà Tết cao cấp - K10</a>
            </div>
            <div class="price">
                <p>100,000 đồng</p>
            </div>
            <div class="foot">
                <a href="#" class="button">Đặt Mua</a>
            </div>
        </div>
        <div class="product-item">
            <div class="img">
                <a href="#">
                    <img src="~/Content/images/item_1.jpg" />
                </a>
            </div>
            <div class="name-product">
                <a href="#">Giỏ quà Tết cao cấp - K10</a>
            </div>
            <div class="price">
                <p>100,000 đồng</p>
            </div>
            <div class="foot">
                <a href="#" class="button">Đặt Mua</a>
            </div>
        </div>
        <div class="product-item">
            <div class="img">
                <a href="#">
                    <img src="~/Content/images/item_1.jpg" />
                </a>
            </div>
            <div class="name-product">
                <a href="#">Giỏ quà Tết cao cấp - K10</a>
            </div>
            <div class="price">
                <p>100,000 đồng</p>
            </div>
            <div class="foot">
                <a href="#" class="button">Đặt Mua</a>
            </div>
        </div>
        <div class="product-item">
            <div class="img">
                <a href="#">
                    <img src="~/Content/images/item_1.jpg" />
                </a>
            </div>
            <div class="name-product">
                <a href="#">Giỏ quà Tết cao cấp - K10</a>
            </div>
            <div class="price">
                <p>100,000 đồng</p>
            </div>
            <div class="foot">
                <a href="#" class="button">Đặt Mua</a>
            </div>
        </div>
        <div class="product-item">
            <div class="img">
                <a href="#">
                    <img src="~/Content/images/item_1.jpg" />
                </a>
            </div>
            <div class="name-product">
                <a href="#">Giỏ quà Tết cao cấp - K10</a>
            </div>
            <div class="price">
                <p>100,000 đồng</p>
            </div>
            <div class="foot">
                <a href="#" class="button">Đặt Mua</a>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
