@{
    ViewBag.Title = "News";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="box">
    <div class="title">
        <h3>Tên Tin Tức</h3>
    </div>
    <div class="cotainer">
        <div class="news-content">
            Nội dung tin
        </div>
        <div class="facebook-comment">

        </div>
        <div class="news-related">
            <h3>Danh sách tin tức</h3>
              <li>
                  <a href="#">Quà tặng công nghệ - Xu hướng mới dịp tết Ất Mùi</a>
              </li>
              <li>
                  <a href="#">Gợi ý 2 cách bó hoa hồng ấn tượng mà dễ dàng</a>
              </li>
        </div>
    </div>
   
</div>
