@{
    ViewBag.Title = "AdminCategory";
    Layout = "~/Views/adminLayout.cshtml";
}
@model IEnumerable<WebsiteQuaTangOnline.Models.LOAISANPHAM>
<div class="container">
    <div class="row">
        <h1 class="text-center">Quản lý loại sản phẩm</h1>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Danh sách loại sản phẩm</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
							<a class="btn btn-sm btn-primary btn-create" href="/Admin/AddCategory">Thêm mới</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th>
                                    <em class="fa fa-cog"></em>
                                </th>
                                <th class="hidden-xs">Mã loại</th>
                                <th>Tên loại</th>
                            </tr>
                        </thead>
                        <tbody>
                            @try { 
                                foreach(var item in Model)
                                {
                                    <tr>
                                        <td align="center">
                                            <a class="btn btn-default" href="/Admin/UpdateCategory/?id=@item.MaLoaiSanPham"><em class="fa fa-pencil" ></em></a> <a class="btn btn-danger" href="/Admin/DeleteCategory/?id=@item.MaLoaiSanPham"><em class="fa fa-trash"></em></a>
                                        </td>
                                        <td class="hidden-xs">@item.MaLoaiSanPham</td>
                                        <td>@item.TenLoaiSanPham</td>
                                    </tr>
                                }
                            }
                            catch { }
                            
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">Trang 1 của 5 </div>
                        <div class="col col-xs-8">
                            <ul class="pagination hidden-xs pull-right">
                                <li>
                                    <a href="/Admin/AdminCategory/?num=1">1</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminCategory/?num=2">2</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminCategory/?num=3">3</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminCategory/?num=4">4</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminCategory/?num=5">5</a>
                                </li>

                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li>
                                    <a href="#">«</a>
                                </li>
                                <li>
                                    <a href="#">»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
